
<ul class=" mfb-component--tr mfb-slidein">
  <li class="mfb-component__wrap">
    <a href="#" data-mfb-label="A long long label" class="mfb-component__button--main">
      <i class="mfb-component__main-icon--resting ion-plus-round"></i>
      <i class="mfb-component__main-icon--active ion-edit"></i>
    </a>
    <ul class="mfb-component__list">
      {% for node in page.actions %}
        <li>
          <a href="#" data-mfb-label="{{node}}" data-mfb-label="label with long long title" class="mfb-component__button--child">
            <i class="mfb-component__child-icon ion-paper-airplane"></i>
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>